<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="adminpanel.master.cs" Inherits="FinalProjesi.adminpanel" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
   <meta http-equiv="Content-Type" content="text/html; charset=windows-1254" />
		
		<title>Admin Paneli</title>
		
		<!--                       CSS                       -->
	  
		<!-- Reset Stylesheet -->
		<link rel="stylesheet" href="admin/css/reset.css" type="text/css" media="screen" />
	  
		<!-- Main Stylesheet -->
		<link rel="stylesheet" href="admin/css/style.css" type="text/css" media="screen" />
		
		<!-- Invalid Stylesheet. This makes stuff look pretty. Remove it if you want the CSS completely valid -->
		<link rel="stylesheet" href="admin/css/invalid.css" type="text/css" media="screen" />	
		
		
		<!-- Internet Explorer Fixes Stylesheet -->
		
		<!--[if lte IE 7]>
			<link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" />
		<![endif]-->
		
		<!--                       Javascripts                       -->
  
		<!-- jQuery -->
		<script type="text/javascript" src="admin/scripts/jquery-1.3.2.min.js"></script>
		
		<!-- jQuery Configuration -->
		<script type="text/javascript" src="admin/scripts/simpla.jquery.configuration.js" ></script>
		
		<!-- Facebox jQuery Plugin -->
		<script type="text/javascript" src="admin/scripts/facebox.js" ></script>
		
		<!-- jQuery WYSIWYG Plugin -->
		<script type="text/javascript" src="admin/scripts/jquery.wysiwyg.js" ></script>
		
		<!-- jQuery Datepicker Plugin -->
		<script type="text/javascript" src="admin/scripts/jquery.datePicker.js"></script>
		<script type="text/javascript" src="admin/scripts/jquery.date.js"></script>
		<!--[if IE]><script type="text/javascript" src="scripts/jquery.bgiframe.js"></script><![endif]-->

		
		<!-- Internet Explorer .png-fix -->
		
		<!--[if IE 6]>
			<script type="text/javascript" src="scripts/DD_belatedPNG_0.0.7a.js"></script>
			<script type="text/javascript">
				DD_belatedPNG.fix('.png_bg, img, li');
			</script>
		<![endif]-->
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <div>
         <div id="body-wrapper"> <!-- Wrapper for the radial gradient background -->
		
		<div id="sidebar"><div id="sidebar-wrapper"> <!-- Sidebar with logo and menu -->
			
			<h1 id="sidebar-title"><a href="#">Yönetim Paneli</a></h1>
		  
			<!-- Logo (221px wide) -->
			<a href="#"><img id="logo"  /></a>
		  
			<!-- Sidebar Profile links -->
			<div id="profile-links">
				Merhaba, <%Response.Write(kullanad); %> <br /><br />
				<a href="anasayfa.aspx" title="View the Site">Site Anasayfası</a> | <a href="uyegiris.aspx" title="Sign Out">Çıkış</a>
			</div> 		
			<ul id="main-nav">  <!-- Accordion Menu -->				
				<li>
					<a href="#" class="nav-top-item no-submenu"> <!-- Add the class "no-submenu" to menu items with no sub menu -->
						Anasayfa
					</a>       
				</li>				
				<li> 
					<a href="#" class="nav-top-item"> <!-- Add the class "current" to current menu item -->
					İşlemler
					</a>
					<ul>
						<li><a href="kullaniciyonet.aspx">Kullanıcı Yönetimi</a></li>
						<li><a class="current" href="menüyönetimi.aspx">Menü Yönetimi</a></li>
                        <li><a class="current" href="puandurumudüzenle.aspx">Puan Durumu Yönetimi</a></li>
                        <li><a class="current" href="fikstürayarlari.aspx">Fikstür Ayarları</a></li>
                        <li><a class="current" href="sitemap.aspx">Dinamik Harita</a></li> <!-- Add class "current" to sub menu items also -->
						
					</ul>
				</li>				
				<li>
					<a href="#" class="nav-top-item">
						Haber Yönetimi
					</a>
					<ul>
						<li><a href="haberyönetimi.aspx">Haberler</a></li>						
					</ul>
				</li>
				
				<li>
					<a href="galeri.aspx" class="nav-top-item">
						Galeri
					</a>
					<ul>
						<li><a href="galeriyönetimi.aspx">Galeri Yönetimi</a></li>						
					</ul>
				</li>
				
				<li>
					<a href="#" class="nav-top-item">
						Sizden Gelenler
					</a>
					<ul>
						<li><a href="sizdengelenler.aspx">Yorum Onaylama</a></li>						
					</ul>
				</li>
				
				<li>
					<a href="#" class="nav-top-item">
						Site Haritası
					</a>
                    <ul>
                        <asp:TreeView ID="TreeView1" runat="server" DataSourceID="SiteMapDataSource1" ImageSet="Faq" ShowLines="True" BackColor="#33CC33" Font-Bold="True" Font-Italic="True" Font-Overline="False" Font-Strikeout="False" ForeColor="#333300">
                            <HoverNodeStyle Font-Underline="True" ForeColor="#333300" BorderColor="#333300" />
                            <NodeStyle Font-Names="Tahoma" Font-Size="8pt" ForeColor="#333300" HorizontalPadding="5px" NodeSpacing="0px" VerticalPadding="0px" />
                            <ParentNodeStyle Font-Bold="False" />
                            <SelectedNodeStyle Font-Underline="True" HorizontalPadding="0px" VerticalPadding="0px" />
                        </asp:TreeView>
                        <asp:SiteMapDataSource ID="SiteMapDataSource1" runat="server" />
                    </ul>
				</li>      
				
			</ul> <!-- End #main-nav -->
			
			
			
		</div></div> <!-- End #sidebar -->
		
	
		
	</div>
        
    </div>
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
    </form>
</body>
</html>
